body
  background-color: #222
  color: #999
  font-family: Helvetica-neue, Sans-serif
  font-weight: 200

h1,h2,h3,h4,h5,h6
  font-weight: 200
*, *::before, *::after
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
.choice
  cursor: pointer
  &:hover
    color: #666
    background-color: #ededed

.is-selected
  color: #31708f
  background-color: #d9edf7
  &:hover
    color: #31708f
    background-color: #d9edf7